{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "importOrder": ["(.*next.*)", "(.*react.*)", "<THIRD_PARTY_MODULES>", "^@/"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
