{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "importOrder": [
    "(.*next.*)",
    "(.*react.*)",
    "<THIRD_PARTY_MODULES>",
    "^@/components/screens",
    "^@/components/layout",
    "^@/components/shared",
    "^@/shared/fonts",
    "^@/",
    "^(.*.css)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
