:root {
  --text-level-1: #292929;
  --text-level-2: #515151;
  --text-level-3: #8f8f8f;

  --palette-red: #db5945;
  --palette-cyan: #45d4db;
  --palette-yellow: #dbad45;
  --palette-green: #86db45;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  color: #1b1b1b;
  background-color: #fefefe;
}

body {
  -webkit-font-smoothing: antialiased;

  background-color: #1b1b1b;
}

body,
.scroll-bar {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar,
.scroll-bar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb,
.scroll-bar::-webkit-scrollbar-thumb {
  background-color: #2e2e2e;
  border-radius: 2px;
}

body::-webkit-scrollbar-thumb:hover,
.scroll-bar::-webkit-scrollbar-thumb:hover {
  background-color: #3b3b3b;
}
